/**
 * TODO custom variables - DONE
 * TODO skalanlegt - DONE
 */

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-double, 20px);
  width: 100%;
}

@media (width >= 700px) {
  form {
    width: 50%; 
  }
}

fieldset {
  border: 0;
}

fieldset legend {
  margin-bottom: var(--spacing, 10px);
  font-size: var(--font-size-legend, 1.5rem);
}

fieldset div {
  width: 100%;
  margin-bottom: var(--spacing-double, 20px);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  padding: var(--spacing, 10px);
  background-color: var(--color-input-background, #ffffff);
  border: var(--border-width, 1px) solid var(--color-border,#000000);
}

fieldset input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: var(--spacing, 10px);
}
