/**
 * TODO custom variables - DONE
 * TODO skipta yfir í grid - DONE
 */
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing-triple, 30px);
  min-height: 100vh;
  margin-top: var(--spacing, 10px);
}

main {
  width: 100%;
  max-width: var(--max-width, 1000px);
  padding-right: var(--spacing-double, 20px);
  padding-left: var(--spacing-double, 20px);
  margin-right: auto;
  margin-left: auto;
}
